<ion-content>
  <ion-grid class="d-flex ion-justify-content-center">
    <ion-row class="card">
      <ion-col class="p-15" size-xs="12" size-sm="7" size-md="8">
        <h3 class="fw-700">Subscribe</h3>
        <p>to our Monthly Surprise Box</p>
        <ion-breadcrumbs mode="ios">
          <ion-breadcrumb active color="primary" href="#">Cart</ion-breadcrumb>
          <ion-breadcrumb href="#">Information</ion-breadcrumb>
          <ion-breadcrumb href="#">Shipping</ion-breadcrumb>
          <ion-breadcrumb href="#">payment</ion-breadcrumb>
        </ion-breadcrumbs>
        <hr />
        <div>
          <h3 class="fw-700">Contact Information</h3>
          <form>
            <div>
              <ion-label>Your Name</ion-label>
              <input placeholder="e.g Osama Alshathri" />
            </div>
            <div class="mt-4">
              <ion-label>Email</ion-label>
              <input placeholder="osama.@gmail.com" />
            </div>
          </form>
        </div>
        <div class="mt-5">
          <h3 class="fw-700">Child's Information</h3>
          <form>
            <div>
              <ion-label>Child's Full Name</ion-label>
              <input placeholder="e.g Sarah Mohammad" />
            </div>
            <div class="mt-4">
              <ion-label>Child's Date of Birth</ion-label>
              <div class="d-flex gap-1">
                <div>
                  <input [value]="getDate().getDate()" readonly id="day" placeholder="Date" />
                  <ion-popover trigger="day">
                    <ng-template>
                      <ion-datetime
                        mode="ios"
                        name="date"
                        [(ngModel)]="dob"
                        presentation="day"
                        locale="en-US"
                      ></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
                <div>
                  <input [value]="monthNames[getDate().getUTCMonth()]" readonly id="month" placeholder="Month" />
                  <ion-popover trigger="month">
                    <ng-template>
                      <ion-datetime
                        mode="ios"
                        name="date"
                        [(ngModel)]="dob"
                        presentation="month"
                        locale="en-US"
                      ></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
                <div>
                  <input [value]="getDate().getFullYear()" readonly id="year" placeholder="Year" />
                  <ion-popover trigger="year">
                    <ng-template>
                      <ion-datetime
                        mode="ios"
                        name="date"
                        [(ngModel)]="dob"
                        presentation="year"
                        locale="en-US"
                      ></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <ion-label>Grade</ion-label>
              <input placeholder="e.g Grade 2" />
            </div>
            <div class="mt-4">
              <ion-label>Gender</ion-label>
              <ion-radio-group mode="ios" name="gender" class="d-flex gap-1" [(ngModel)]="gender">
                <ion-radio class="w-100" value="boy">Boy</ion-radio>
                <ion-radio class="w-100" value="girl">Girl</ion-radio>
              </ion-radio-group>
            </div>
            <div class="mt-5">
              <h3 class="fw-700">As a parent select any 3 topics</h3>
              <div class="mt-2 topic-tiles">
                <span>Arabic</span>
                <span>Islamic</span>
                <span>English</span>
                <span>History</span>
                <span>Sports</span>
              </div>
            </div>
            <div class="mt-5 ion-hide-sm-down">
              <app-button [fullWidth]="true" [title]="'Continue to payment'"></app-button>
            </div>
          </form>
        </div>
      </ion-col>
      <ion-col class="price p-15" size-xs="12" size-sm="5" size-md="4">
        <h5>Summary</h5>
        <p>of your Monthly Surprise Box</p>
        <div class="mysteryBox mt-2">
          <div>
            <span class="d-block fw-700 fs-16">Mystery Box</span>
            <span class="fs-12 gray-text">x 1</span>
          </div>
          <div>
            <span class="d-block fs-16">SAR <span class="fw-700">456</span></span>
            <span class="fs-12 gray-text ion-float-end">Monthly</span>
          </div>
        </div>
        <div class="fs-12 mt-2">
          <span class="fw-700">Sub total</span>
          <span class="ion-float-end">SAR<span class="fw-700"> 456</span></span>
        </div>
        <div class="fs-12 mt-2">
          <span class="fw-700">Shipping</span>
          <span class="ion-float-end gray-text fs-12">Free</span>
        </div>
        <div class="fs-12 mt-2">
          <span class="fw-700">Taxes</span>
          <span class="ion-float-end">SAR<span class="fw-700"> 4.0</span></span>
        </div>
        <hr class="line mt-2" />
        <div class="fs-12 mt-2">
          <span class="fw-700">Total</span>
          <span class="ion-float-end">SAR<span class="fw-700"> 456</span></span>
        </div>
        <div class="mt-5 submit-btn ion-hide-sm-up">
          <app-button [fullWidth]="true" [title]="'Continue to payment'"></app-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
