<ion-content [fullscreen]="true">
  <ion-row class="bg-app">
    <ion-col
      class="landing-page d-flex flex-column ion-justify-content-center ion-align-items-center ion-text-center"
      [size]="12">
      <ion-note color="light" class="heading">
        <h1 class="fw-900 fs-50 title">Discover the magic of our
                                       surprise box</h1>
        <h5 class="fs-20 fw-700">Unleash your child's curiosity with our
                                 educational
                                 subscription
                                 box filled with fun and learning.</h5>
      </ion-note>
      <span class="mt-2">
        <app-button (clicked)="subscribe()"
                    [title]="'Subscribe Now'"></app-button>
      </span>
      <div class="mt-5">
        <img class="landing-page-logo" alt="landing page image"
             src="assets/img/landingPage.png">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="subscribe">
    <ion-col size="12">
      <div
        class="title d-flex flex-column ion-text-center ion-align-items-center">
        <p class="fw-700">Discover</p>
        <h1>How It Works: Subscribe and Receive Your Surprise Box</h1>
        <h6>Subscribe to our surprise subscription box and give your child
            the gift of learning. Each month, we curate a box filled with
            educational materials tailored to your child's age and
            interests</h6>
      </div>
    </ion-col>
    <ion-col class="widget-container mt-4 ">
      <app-subscribe-widget *ngFor="let sub of subscribeWidget; index as i"
                            [count]="i+1"
                            [title]="sub.title"
                            [description]="sub.description"
                            [logo]="sub.logo"
      ></app-subscribe-widget>
    </ion-col>
    <ion-col class="d-flex ion-justify-content-center mt-5" size="12">
      <app-button (clicked)="subscribe()"
                  [title]="'Subscribe Now'"></app-button>
    </ion-col>
  </ion-row>
  <ion-row class="footer">
    <ion-col class="body">
      <div class="ion-hide-sm-up">
        <div class="body-links fw-700 fs-16">
          <span>Link One</span>
          <span>Link Two</span>
          <span>Link Three</span>
          <span>Link Four</span>
          <span>Link Five</span>
        </div>
        <div>
          <h6 class="fs-12s">Subscribe</h6>
          <input type="email" placeholder="Enter your email" class="w-100 py-2">
          <button class="w-100 mt-2 submit-btn"> subscribe</button>
        </div>
      </div>
      <div class="links">
        <u>Privacy Policy</u>
        <u>Terms of Service</u>
        <u>Cookies Settings</u>
      </div>
      <div>
        <Span>© 2023 MyEdu. All rights reserved.</Span>
      </div>
    </ion-col>
  </ion-row>
</ion-content>



