.landing-page {
  margin-top: 150px;
}

.heading {
  max-width: 800px;

  .title {
    padding: 0 10px;
    text-shadow:
      0 0 2px,
      5px 0 5px rgb(137, 106, 249);
  }
}

.landing-page-logo {
  padding: 0 60px;
  @media only screen and (max-width: 575.98px) {
    padding: 0 20px;
  }
  max-width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.subscribe {
  background-image: url('/assets/img/demo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  padding-bottom: 140px;

  .title {
    margin-top: 4rem;

    h1 {
      font-size: 40px;
      font-weight: 700;
      max-width: 800px;
    }

    h6 {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      max-width: 850px;
    }
  }
}

.widget-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer {
  margin: 0 20px;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);

  .body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
  }
}

.body-links {
  & span {
    display: block;
    margin-top: 10px;
  }
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.py-2 {
  padding: 5px;
}

.submit-btn {
  padding: 10px 0;
  background: white;
  border: 1px solid;
}
